import(methods)
import(foreach)
import(shiny)
import(ggplot2)
import(GenomicRanges)
import(GenomicFiles)
import(Homo.sapiens)
import(BiocGenerics)
importFrom(Biobase, selectSome)

export(genemodel, makeErmaSet, stateProfile, stateProf,
   mapmeta, cellTypes, geneTxRange, csProfile)

importClassFrom("S4Vectors", "DataFrame")
importFrom("S4Vectors", "DataFrame")
exportClass("ErmaSet")
importFrom("rtracklayer", "import")
